@import '../../scss/colors.scss';

.page__header__wrapper {
  display: flex;
  flex-direction: column;

  width: 100vw;
  max-height: 281px;

  padding: 64px 16px 64px 16px;

  background-color: $violet;
  color: white;

  justify-content: center;
  align-items: center;

  text-align: center;
}

.page__intro {
  max-width: 846px;
}

.page__header {
  padding-bottom: 16px;

  font-size: 36px;
  font-weight: 400;
}

.page__paragraph {
  font-size: 16px;
  font-weight: 400;
  line-height: 18.75px;

  color: $gray;
}

.page__members {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;

  width: 100vw;

  margin: 32px auto;

  color: $black;
}

.member {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  width: 305px;
  height: 263px;

  margin: 20px;

  border-radius: 10px;

  transition: 0.3s all ease;

  box-shadow: 0px 0.9960451126098633px 3.984180450439453px 0px #33333326;
}

.member:hover {
  transform: scale(1.1);
}

.member__img {
  width: 124px;
  height: 124px;

  object-fit: cover;

  border-radius: 100%;
}

.member__name {
  margin: 16px auto;

  font-weight: 400;
  font-size: 20px;
  line-height: 23.44px;
}

.member__showmore__wrapper {
  display: flex;

  justify-content: center;
  align-items: center;

  margin: 32px;
}

.member__showmore__btn {
  color: $black;

  width: 170px;
  height: 40px;

  padding: 8px 16px;

  border: 1px solid $black;
  border-radius: 8px;

  display: flex;
  text-align: center;
  justify-content: center;

  font-size: 16px;
  line-height: 21.79px;
}

@media screen and (min-width: 1440px) {
  .page__header__wrapper {
    max-height: 265px;
  }

  .page__header {
    font-size: 64px;
    line-height: 75px;
  }

  .page__paragraph {
    font-size: 20px;
    line-height: 23.44px;
  }

  .page__members {
    flex-direction: row;
    flex-wrap: wrap;

    min-width: 1280px;
    max-width: 1280px;
    height: auto;
  }

  .member {
    margin: 20px;
  }

  .member__showmore__btn {
    margin: 56px auto 69px auto;
  }
}
